doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Admin Dashboard
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
  body
    #main
      .headerContainer
        .logo
          | IHS Logo
        .headerButtons
          a(href='/adminView.html') Home
          a(href='/adminView.html') Preferences
          a(href='/adminView.html') Help
        .logout
          button(type='button')
            | Log Out
        .notification
          | [  ]
      .title
        h1 Dashboard
      .filter
        input(placeholder='filter By')
      br
      .ticketTable
        .headrow.row
          .headColumn.col
            | Ticket ID
          .headColumn.col
            | Receive Date/Time
          .headColumn.col
            | Location
          .headColumn.col
            | Short Description
          .headColumn.col
            | Status
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
        .row
          .col
          .col
          .col
          .col
          .col
