<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Full Description
  link(rel = 'stylesheet', href = '/css/styles.css')
body
  h3 Full Description
  .fullDescription #{json.description}
  br
  br
  br
  a(href="/" class = 'backText') back to Index