<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Full Description
  link(rel = 'stylesheet', href = '/css/styles.css')
body
  h3.fullDescriptionh3 Full Description
  br
  .fullDescription #{json.description}
    a(href="/dashboard" class = 'navButton') back to Dashboard