.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/564cdcb91f00002500f3d1ac.jpeg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-height: 400px;
    padding-left: 0px;
    padding-top: 300px;
    padding-bottom: 3px;
}

.body {
  background-image: url(../img/brown-1321242_960_720.jpg);
}

h1 {
  color: white;
}

h3 {
  color: white;
}

label {
  color: white;
}

.form-text {
  color: white;
}

.label {
  color: white;
}

.label-info {
  background-color: transparent;
}


