/*html, body, .body {
  height: 100%;
}*/

html {
  background-image: url(../img/gray_background_by_giozaga-d7ncl9q.jpg);
}

body {
  background-color: initial;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/hawaii-sunset-wallpaper-wallpaper-2.jpg);
    background-position: 0% 90%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100px;
    padding-left: 0px;
    padding-top: 100px;
    padding-bottom: 3px;
}

.jumbotron h1 {
  text-shadow: black 0em 0em 0.6em;
}

.body {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.2em;
}

h3 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.2em;
}

label {
  color: black;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 1.2em;
}

.form-text {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
}

.label {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.2em;
}

.label-info {
  background-color: transparent;
}
#upload-file-info {
  display: initial;
  width: 50%;
}
#yourInfo {
  display: none;
}

/*.sendLocation {
  display: inline-block;
}

.sendMyInformation {
  display: inline-block;
}
*/
