/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.container {
  height: 50%;
  width: 50%;
  display: inline-block; }

#map {
  height: 50%;
  width: 100%;
  display: inline-block;
  position: absolute; }

.options-box {
  display: inline-flex;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 50%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px; }

.marker {
  font-size: 12px;
  color: black;
  width: 100px;
  height: 30px; }

#search-transportation-text {
  width: 30%; }

div.mode {
  position: fixed;
  width: 50%; }

div.directions-loc {
  position: fixed;
  width: 50%; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: #1584eb;
  background: -moz-radial-gradient(center, ellipse cover, #1584eb 0%, #11263d 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1584eb), color-stop(100%, #11263d));
  background: -webkit-radial-gradient(center, ellipse cover, #1584eb 0%, #11263d 100%);
  background: -o-radial-gradient(center, ellipse cover, #1584eb 0%, #11263d 100%);
  background: -ms-radial-gradient(center, ellipse cover, #1584eb 0%, #11263d 100%);
  background: radial-gradient(ellipse at center, #1584eb 0%, #11263d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1584eb', endColorstr='#11263d', GradientType=1 ); }

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 48px;
  color: #ca9e2b;
  text-align: center; }

input, textarea {
  box-sizing: border-box;
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 100%;
  background: #FFFFFF; }

textarea {
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9; }

.communityForm {
  margin: 0 auto;
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  width: 50%;
  text-align: left;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .communityForm {
      width: 80%; } }

.communityForm label {
  text-align: left;
  width: 100px; }

.communityForm h3 {
  text-align: left;
  font-weight: bold;
  font-size: 18px; }

.locationText {
  color: black; }

.submit {
  width: auto;
  margin-left: 5px;
  padding: 9px 15px;
  background: #ca9e2b;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.submit:hover {
  cursor: pointer; }

.myButton {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color: #7892c2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 50%;
  border: 1px solid #4e6096;
  display: inline-block;
  float: right;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966; }

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color: #476e9e; }

.myButton:active {
  position: relative;
  top: 1px; }

input, textarea {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px; }

input, textarea {
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); }

input:hover, textarea:hover,
input:focus, textarea:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; }

.mahalo {
  padding: 10px; }

.headerContainer {
  background-color: gray;
  height: 25px;
  margin-bottom: 5px; }

.headerContainer div {
  display: inline-block; }

.logout {
  float: right; }

.notification {
  float: right; }

.title h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center; }

.backText {
  color: white; }

.filter {
  margin: 0 auto;
  padding-top: 15px; }

.ticketTable {
  display: table;
  box-sizing: border-box;
  border: 1px solid black;
  border-spacing: 5px;
  background-color: white;
  width: 95%;
  margin: 0 auto; }

.headrow {
  font-weight: bold;
  color: darkblue;
  text-align: center; }

.row {
  display: table-row;
  text-align: center; }

.ticketTable .row:nth-child(odd) {
  display: table-row;
  background-color: #e8edff; }

.col {
  box-sizing: border-box;
  display: table-column;
  float: left;
  height: 45px;
  width: 20%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-top: 12px;
  color: black; }

.ticketId {
  width: 5%; }

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 20%; }

.status {
  width: 5%; }

.username {
  width: 10%; }

.phoneNumber {
  width: 5%; }

.email {
  width: 10%; }

.pictureCol {
  width: 5%; }

.statusInput {
  display: inline-block;
  width: 40%; }

.submitInput {
  display: none; }

.container {
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 50%;
  height: 250px; }

#map {
  position: relative;
  height: 300px;
  width: 500px; }

.optionsBox {
  margin: 0 auto;
  height: 25px;
  width: 100%; }

/* Dropdown Button */
.dropbtn {
  color: black;
  border: none;
  cursor: pointer;
  width: 75%;
  height: 75%;
  text-align: center; }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }
