/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.container {
  height: 50%;
  width: 50%;
  display: inline-block; }

#map {
  height: 50%;
  width: 100%;
  display: inline-block;
  position: absolute; }

.options-box {
  display: inline-flex;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 50%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px; }

.marker {
  font-size: 12px;
  color: black;
  width: 100px;
  height: 30px; }

#search-transportation-text {
  width: 30%; }

div.mode {
  position: fixed;
  width: 50%; }

div.directions-loc {
  position: fixed;
  width: 50%; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: #1584eb;
  background: -moz-radial-gradient(center, ellipse cover, #1584eb 0%, #11263d 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1584eb), color-stop(100%, #11263d));
  background: -webkit-radial-gradient(center, ellipse cover, #1584eb 0%, #11263d 100%);
  background: -o-radial-gradient(center, ellipse cover, #1584eb 0%, #11263d 100%);
  background: -ms-radial-gradient(center, ellipse cover, #1584eb 0%, #11263d 100%);
  background: radial-gradient(ellipse at center, #1584eb 0%, #11263d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1584eb', endColorstr='#11263d', GradientType=1 ); }

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 48px;
  color: #ca9e2b;
  text-align: center; }

input, textarea {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  background: #FFFFFF; }

textarea {
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9; }

.form {
  padding: 10px; }

.form label {
  color: #ca9e2b;
  display: block;
  margin-bottom: 5px; }

.location, .email, .phone, .description {
  padding: 5px; }

.submit {
  width: auto;
  margin-left: 5px;
  padding: 9px 15px;
  background: #ca9e2b;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.submit:hover {
  cursor: pointer; }

input, textarea {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px; }

input, textarea {
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); }

input:hover, textarea:hover,
input:focus, textarea:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; }

.mahalo {
  padding: 10px; }

.headerContainer {
  background-color: gray;
  height: 25px;
  margin-bottom: 5px; }

.headerContainer div {
  display: inline-block; }

.logout {
  float: right; }

.notification {
  float: right; }

.title h1 {
  float: left;
  margin: 5px;
  margin-right: 25px; }

.filter {
  margin: 0 auto;
  padding-top: 15px; }

.ticketTable {
  display: table;
  border-spacing: 5px;
  background-color: white;
  width: 100%;
  margin: 0 auto; }

.headrow {
  font-weight: bold;
  color: darkblue;
  text-align: center; }

.row {
  display: table-row;
  text-align: center; }

.ticketTable .row:nth-child(odd) {
  display: table-row;
  background-color: #e8edff; }

.col {
  box-sizing: border-box;
  display: table-column;
  float: left;
  height: 45px;
  width: 20%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-top: 12px;
  color: black; }

.ticketId {
  width: 5%; }

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.status {
  width: 5%; }

.username {
  width: 10%; }

.phoneNumber {
  width: 5%; }

.email {
  width: 10%; }

.pictureCol {
  width: 5%; }

.statusInput {
  display: inline-block;
  width: 40%; }

.submitInput {
  display: none; }

.container {
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 50%;
  height: 250px; }

#map {
  position: relative;
  height: 300px;
  width: 500px; }
