.container {
  height: 50%;
  width: 50%;
  display: inline-block;
}

#map {
  height: 50%;
  width: 50%;
  display: inline-block;
  position: absolute;
  // bottom:0px;
  // height: 100%;
  // left: 362px;
  // position: relative;
  // right: 0px;
}

.options-box {
  display: inline-flex;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 50%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}